<div [appTelemetryImpression]="telemetryImpression">
        <div id="wrapper">
                <!-- Navigation -->
               
                   <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                        <div class="container">
                       <div class="navbar-header">
                           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                               <span class="sr-only">Toggle navigation</span>
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                           </button>
                           <a class="navbar-brand" href="/home">Hello, Naina<small class="smll-text">Here is of your snapshot report of today!</small></a>
                       </div>
                       <!-- /.navbar-header -->
                       <ul class="nav navbar-nav navbar-right">
                       <li class="dropdown">
                               <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                               <i class="fa house"><img src="./assets/dps/images//house-outline.svg" alt="" class="width-70"/></i></a>
                               <ul class="dropdown-menu">
                               
                               <li class="dropdown-menu-header text-center">
                                       <strong>Account</strong>
                                   </li>
                                   <li class="m_2"><a href="#"><i class="fa fa-bell-o"></i> Updates <span class="label label-info">42</span></a></li>
                                   <li class="m_2"><a href="#"><i class="fa fa-envelope-o"></i> Messages <span class="label label-success">42</span></a></li>
                                   <li class="m_2"><a href="#"><i class="fa fa-tasks"></i> Tasks <span class="label label-danger">42</span></a></li>
                                   <li><a href="#"><i class="fa fa-comments"></i> Comments <span class="label label-warning">42</span></a></li>
                               
                               </ul>
                             </li>
                       
                       
                           <li class="dropdown">
                               <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                               <i class="fa cal"><img src="./assets/dps/images//calendar-page-empty.svg" alt="" class="width-70"/></i>
                               </a>
                               
                               <ul class="dropdown-menu">
                                   
                                   <li class="avatar">
                                       <a href="#">
                                           <img src="./assets/dps/images//1.png" alt=""/>
                                           <div>New message</div>
                                           <small>1 minute ago</small>
                                           <span class="label label-info">NEW</span>
                                       </a>
                                   </li>
                                   <li class="avatar">
                                       <a href="#">
                                           <img src="./assets/dps/images//2.png" alt=""/>
                                           <div>New message</div>
                                           <small>1 minute ago</small>
                                           <span class="label label-info">NEW</span>
                                       </a>
                                   </li>
                                   <li class="avatar">
                                       <a href="#">
                                           <img src="./assets/dps/images//3.png" alt=""/>
                                           <div>New message</div>
                                           <small>1 minute ago</small>
                                       </a>
                                   </li>
                                   <li class="avatar">
                                       <a href="#">
                                           <img src="./assets/dps/images//4.png" alt=""/>
                                           <div>New message</div>
                                           <small>1 minute ago</small>
                                       </a>
                                   </li>
                                   <li class="avatar">
                                       <a href="#">
                                           <img src="./assets/dps/images//5.png" alt=""/>
                                           <div>New message</div>
                                           <small>1 minute ago</small>
                                       </a>
                                   </li>
                                   <li class="avatar">
                                       <a href="#">
                                           <img src="./assets/dps/images//pic1.png" alt=""/>
                                           <div>New message</div>
                                           <small>1 minute ago</small>
                                       </a>
                                   </li>
                                   <li class="dropdown-menu-footer text-center">
                                       <a href="#">View all messages</a>
                                   </li>	
                               </ul>
                             </li>
                           <li class="dropdown">
                               <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown"><img src="./assets/dps/images//1.png"><span class="badge">9</span></a>
                               <ul class="dropdown-menu">
                                   
                                   <li class="m_2"><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                                   <li class="m_2"><a href="#"><i class="fa fa-wrench"></i> Settings</a></li>
                                   <li class="m_2"><a href="#"><i class="fa fa-lock"></i> Logout</a></li>	
                               </ul>
                             </li>
                       </ul>
           
                       <div class="navbar-default sidebar" role="navigation">
                           <div class="sidebar-nav navbar-collapse">
                               <ul class="nav" id="side-menu">
                                   <li>
                                       <a href="/home"><i class="fa fa-dashboard fa-fw nav_icon"></i>Dashboard</a>
                                   </li>
                                   <li>
                                       <a href="#"><i class="fa fa-laptop nav_icon"></i>Layouts<span class="fa arrow"></span></a>
                                       <ul class="nav nav-second-level">
                                           <li>
                                               <a href="#">Grid System</a>
                                           </li>
                                       </ul>
                                       <!-- /.nav-second-level -->
                                   </li>
                                   <li>
                                       <a href="#"><i class="fa fa-indent nav_icon"></i>Menu Levels<span class="fa arrow"></span></a>
                                       <ul class="nav nav-second-level">
                                           <li>
                                               <a href="#">Graphs</a>
                                           </li>
                                           <li>
                                               <a href="#">Typography</a>
                                           </li>
                                       </ul>
                                       <!-- /.nav-second-level -->
                                   </li>
                                   <li>
                                       <a href="#"><i class="fa fa-envelope nav_icon"></i>Mailbox<span class="fa arrow"></span></a>
                                       <ul class="nav nav-second-level">
                                           <li>
                                               <a href="#">Inbox</a>
                                           </li>
                                           <li>
                                               <a href="#">Compose email</a>
                                           </li>
                                       </ul>
                                       <!-- /.nav-second-level -->
                                   </li>
                                   <li>
                                       <a href="#"><i class="fa fa-flask nav_icon"></i>Widgets</a>
                                   </li>
                                    <li>
                                       <a href="#"><i class="fa fa-check-square-o nav_icon"></i>Forms<span class="fa arrow"></span></a>
                                       <ul class="nav nav-second-level">
                                           <li>
                                               <a href="#">Basic Forms</a>
                                           </li>
                                           <li>
                                               <a href="#">Validation</a>
                                           </li>
                                       </ul>
                                       <!-- /.nav-second-level -->
                                   </li>
                                   <li>
                                       <a href="#"><i class="fa fa-table nav_icon"></i>Tables<span class="fa arrow"></span></a>
                                       <ul class="nav nav-second-level">
                                           <li>
                                               <a href="#">Basic Tables</a>
                                           </li>
                                       </ul>
                                       <!-- /.nav-second-level -->
                                   </li>
                                   <li>
                                       <a href="#"><i class="fa fa-sitemap fa-fw nav_icon"></i>Css<span class="fa arrow"></span></a>
                                       <ul class="nav nav-second-level">
                                           <li>
                                               <a href="#">Media</a>
                                           </li>
                                           <li>
                                               <a href="#">Login</a>
                                           </li>
                                       </ul>
                                       <!-- /.nav-second-level -->
                                   </li>
                               </ul>
                           </div>
                           <!-- /.sidebar-collapse -->
                       </div>
                       <!-- /.navbar-static-side -->
                       </div>
                   </nav>
                   
              <div id="page-wrapper">
                   <div class="container">
                 <div class="row">
                      
                       <div class="col-md-12 stats-info">
                           <div class="panel-heading">
                               <h4 class="panel-title">SNAPSHOT REPORT
                               
                               <small><span class="pull-right ">Filter By
                               <select class="blue-color border-none">
             <option value="volvo">All Classrooms</option>
             <option value="saab">Classrooms 1</option>
             <option value="mercedes">Mercedes</option>
             <option value="audi">Audi</option>
           </select>
           </span></small>
                               </h4>
                           </div>
                           <div class="panel-bod">
                                    <div class="graphs">
                   <div class="graph_box graph_box1">
                   <div class="col-md-4 grid_2 border-none">
                   <div class="grid_1">
                           <h3>Math Time</h3>
                           <div class="col-md-6 padding-0"><span class="colorY"></span><small>School Time</small></div>
                           <div class="col-md-6 padding-0"><span class="colorB"></span><small>School Time</small></div>
                           <div class="col-md-12 padding-0"><img src="./assets/dps/images//grp1.jpg"></div>
                   <div class="col-md-12 padding-0 center text-center"><h6>02:55Hr</h6><small>Average School Time</small></div>
                           
                       </div>
                       
                       </div>
                       <div class="col-md-4 grid_2 padding-0"><div class="grid_1">
                           <h3>Stydent Activity</h3>
                           <div class="col-md-12 padding-0 "><small>Averge Number of Lessons Attempted Per Student</small></div>
                   
                   <br>
                           <div class="col-md-4 padding-0"><h3>39%</h3><small>At 0 to 14 Lessons</small></div>
                           <div class="col-md-4 padding-0"><h3>23%</h3><small>At 15 to 29 Lessons</small></div>
                           <div class="col-md-4 padding-0"><h3>39%</h3><small>At 30 or more Lessons</small></div>
                   <br><br><br><br>
                       </div></div>
                   
                       <div class="col-md-4 grid_2">
                   <div class="grid_1">
                           <h3>Student Performance</h3>
                           <div class="col-md-12 padding-0 "><small>Total Passed - 84%</small></div>
                           <div class="col-md-12 padding-0"><img src="./assets/dps/images//grp2.jpg"></div>
                   
                       <div class="col-md-6 padding-0"><small>Below grade Lessions</small></div>
                           <div class="col-md-6 padding-0"><small>On Grade Lessions</small></div>	
                       </div>
                       
                       </div>
                       
                   
                       <div class="clearfix"> </div>
                   </div>
           
              </div>
               
                           </div>
                       </div>
                       <div class="clearfix"> </div>
                 </div>
            
                   </div>
                   <div class="container">
                   <div class="row">
                  <div class="col-md-8 padding-left-0">
                     <div class="bs-example1">
                          <div class="panel-heading">
                               <h4 class="panel-title">QUICK START
                               <button class="blue-button">Import Students</button>
                               <button class="blue-button">View Clases</button>
                               <button class="blue-button">View Students</button>
                               <button class="blue-button">Whats New</button></h4>
                               <small class="blue-color">Need Help?</small>
                               
                               
                               
                           </div>
                      </div>
                      
                      <div class="bs-example1">
                          <div class="panel-heading">
                               <h4 class="panel-title">CLASSROOM GOALS</h4>
                               
                           </div>
                           <div class="tab-content">
                         <div class="tab-pane active" id="domprogress">
                          <p>Grade 5</p>
                             <div class="progress">    
                               <div class="progress-bar progress-bar-primary" style="width: 20%"></div>
                             </div>
                             <p>Grade 3</p>
                             <div class="progress">    
                               <div class="progress-bar progress-bar-info" style="width: 60%"></div>
                             </div>
                             <p>Grade 4</p>
                             <div class="progress">
                               <div class="progress-bar progress-bar-success" style="width: 30%"></div>
                             </div>
                            
                       </div>
                  </div>
                        <div class="col-md-12"><small><span class="pull-right blue-color"><a href="#">View All</a></span></small></div>
                 <br>	
                      </div>
               
               
           
               
           
                  </div>
           
                  <div class="col-md-4 stats-info">
                           <div class="panel-heading">
                               <h4 class="panel-title">Leaderboards</h4>
                               <small>Passed Lesson Leaders<span class="pull-right blue-color">Point Leaders</span></small>
                           </div>
                           <div class="panel-bod">
                            <table class="table">
                <thead>
                   <tr>
                     
                     <th>Place</th>
                     <th>Student</th>
                     <th align="right">Passed Lessons</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     
                     <td>1st </td>
                     <td>Anand Sharma</td>
                     <td align="right">43</td>
                   </tr>
                   <tr>
                     
                     <td>2nd </td>
                     <td>Khayati Shukia</td>
                     <td align="right">23</td>
                   </tr>
                   <tr>
                     
                     <td>3rd</td>
                     <td>Sudip Gupta</td>
                     <td align="right">65</td>
                   </tr>
                   
                    <tr>
                     
                     <td>4th</td>
                     <td>Umesh Kumar</td>
                     <td align="right">75</td>
                   </tr>
                   
                    <tr>
                     
                     <td>5th</td>
                     <td>Prashant Pandey</td>
                     <td align="right">45</td>
                   </tr>
                 </tbody>
               </table>
                 <div class="col-md-12"><small><span class="pull-right blue-color"><a href="#">View All</a></span></small></div>
                 <br><br>
                           </div>
                    
                      </div>
                  
                  
                  
                   <div class="clearfix"> </div>
                   </div>
                  
           
                  </div>
                  <!-- /#page-wrapper -->
              </div>
                  <div class="copy">
                       <p>Copyright &copy; 2019. All Rights Reserved.</p>
               </div>
               </div>
</div>